/* : pseudo classes  */
/* :: pseudo elements  */

h1::before{
    content: "Important Note: ";
    color: red;
    background-color: aqua;
    font-size: 20px;
}

h1::after{
    content: "!!!!!";
    color: green;
    font-size: 20px;
}


::selection{
    color: hotpink;
    background-color: aqua;
}

/* pseudo element helps you to design specific part of the html element whereas pseduo classes helps you to style based on the user events like hover, selected. */

a{
    cursor: pointer;
}

a:link{
    color: chartreuse;
    
}

a:hover{
    color: red;
}

a:visited{
    color: orange;
}

a:active{
    color: black;
}

/* p:first-child{
    color: red;
}

p:last-child{
    color: blue;
}
 */


/* the paragraph elements which are present at odd positions will have this styling */
/* p:nth-child(n){
    color: red;
    background-color: yellow;
}

p:nth-child(even){
    color: red;
    background-color: yellow;
} */
/* p:nth-child(odd){
    color: red;
    background-color: yellow;
} */

/* p:nth-child(3n+2){
    color: red;
    background-color: yellow;
} */

/* p:nth-child(2){
    color: hotpink;
    background-color: aqua;
}
This styles elements from the end
p:nth-last-child(2){
    color: hotpink;
    background-color: aqua;
} */

/* This styles only the sibling which are of same type does not concern other siblings of different type. */
/* p:nth-of-type(odd){
    color: hotpink;
    background-color: aqua;
} */

p:last-of-type{
    color: brown;
}


.name-input:focus{
    background-color: blue;
    color: red;
}